/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body
{

}

#top-container
{
    background-image: url("assets/images/pic1.jpg");
    
}
#top-container img
{
    background-position: center;
    background-size: cover;
    width: 100%;
    filter: blur(1px);
    filter: opacity(60%);
}*/


html,body
{
    width: 100%;
    height: 100%;
}

header
{
    height: 100%;
    width: 100%;
}

/*.navbar-nav
{
    float: right !important;
}*/

.header-content
{
   /* top:50%;
    margin-top: 100px;*/
    background-image: url('../images/pic1.jpg');
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.header-content h1
{
    margin-top: auto;
    color: #FFFFFF;
    font-size: 7rem;
}

.header-container
{
    position: relative;
    top: 30%;
    text-align: center;
}

.content-text
{
    text-align: center;
    /*height: inherit;*/
}

#profile
{
    height: inherit;
    background-color: gray;
    height: 100vh;
    width: 100vw;

}

.profile-content
{
    /*text-align: center;*/
}

.profile-content h2
{
    margin-top: auto;
}

#experiences
{
    height: inherit;
    background-color: #ccffff;
    height: 100vh;
    width: 100vw;


}
.experiences-content
{
    text-align: center;
}

.experiences-content h2
{
    margin-top: auto;
}

.experiences-content hr
{
    color: black;
}

#abilities
{
    
    height: 100vh;
    width: 100vw;
    /*background-color: #474e5d;*/
}

.abilities-content
{

}

.abilities-content ul
{
    list-style-type: none;
}

.abilitiy-title
{
    display: inline-block;
    width: 60%;
}

.ability-score
{
    float: right;
}

.abilities-content h2
{
    color: #22A39F;
    text-align: center;
    font-size: 6rem;
}

.abilities-content h3
{
    color: #22A39F;

}

#contact
{
    height: 60vh;
    width: 100vw;
    background-color: #434242;
}

#contact h2
{
    margin-top: auto;
    color: #FFFFFF;
    font-size: 4rem;
    text-align: center;
}

#contact hr
{
    border-color: #727878;
}

.material-icons
{
    font-size: 12px !important;
}